[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
pygame = "==2.1.2"
requests = "*"

[dev-packages]
toga = "==0.3.0.dev35"
briefcase = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.10"
