[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# install project as editable
podcaster = {editable = true,path = "."}
black = "*"

[requires]
python_version = "==3.10"

[packages]
feedparser = "==6.0.10"
